* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body {
    background-color: #111;
    color: white;
}

h1 {
    margin: 20px 0;
}

input {
    background-color: #111;
    border: solid 1px #444;
    padding: 10px;
    color: white;
}

::placeholder {
    color: #777;
}

#send {
    background-color:rgb(172, 147, 5);
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}